.projects-container {
    display: flex;
    /* height: 100%; */
    width: 80%;
    border: 1px solid blue;
    /* justify-content: center; */
    /* align-items: center; */
}

.project-item {
    width: 40%;
    border: 2px solid red;
}