.home-container {
  display: flex;
  height: calc(100vh - 65px);
  /* height: calc(100vh - 5px); */
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.home-logos {
  display: flex;
  flex-direction: column;
  animation-name: landLogos;
  animation-duration: 1.5s;
  /* animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1); */
}

.home-spacer {
  border: 1px solid black;
  height: 50%;
  margin: 0px 15px;
}

img {
  width: 48px;
  height: 48px;
}

.home-view-more {
  border: 1px solid red;
  font-family: cursive;
  display: flex;
  align-content: center;
  background-color: olive;
  border-radius: 10px;
}

.txt {
  animation-name: landText;
  animation-duration: 1.5s;
}

#arrow {
  width: 25px;
  height: 25px;
  margin: 0px 10px;
}

@keyframes landText {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes landLogos {
  0% {
    transform: translateY(120px);
    transform: scale(1,1) 
    /* opacity: 1; */
  }
  25% {
    transform: translateY(0px);
    /* opacity: 1; */
  }
  50% {
    transform: translateY(10px);
    /* opacity: 1; */
  }
  70% {
    transform: translateY(3px);
    /* opacity: 1; */
  }
  90% {
    transform: translateY(6px);
    /* opacity: 1; */
  }
  100% {
    transform: translateY(0px);
    /* opacity: 1; */
  }
}

img {
  color: white;
}
.fa {
  color: white;
}